NET "clk" LOC = "T9";
NET "move" LOC = "K13";
NET "reset" LOC = "L14";
NET "ack" LOC = "P12";
NET "HS" LOC = "R9";
NET "VS" LOC = "T10";
NET "R" LOC = "R12";
NET "G" LOC = "T12";
NET "B" LOC = "R11";
NET "frame_tick" LOC = "P11";