NET "clk" LOC = T9;
NET "reset" LOC = L14;
NET "ps2_c" LOC = M16;
NET "ps2_d" LOC = M15;
NET "HS" LOC = R9;
NET "VS" LOC = T10;
NET "R" LOC = R12;
NET "G" LOC = T12;
NET "B" LOC = R11;
NET "wf_en" LOC = K13;

#Created by Constraints Editor (xc3s200-ft256-4) - 2019/12/03
NET "clk" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 50 MHz HIGH 50%;
